<p>lkre-tv-scheduler works!</p>

<button mat-raised-button color="primary">Primary</button>
<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>

<mat-form-field appearance="fill">
  <mat-label>Toppings</mat-label>
  <mat-select [formControl]="toppings" multiple (ngModelChange)="onToppingsChanged()">
    <mat-select-trigger>
      {{toppings.value[0]}}
      <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
        (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
  </mat-select>
</mat-form-field>

<ul>
  <li *ngFor="let seance of selectedSeances">{{seance.title}} | {{seance.genre}} | {{seance.time}}</li>
</ul>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
